extends ./layout/layout_inside

block body
	.containter
		.work_list
			//- each work in worksList
			//- 	a.work(href="#{work.url}")
			//- 		.comefrom
			//- 			span.user
			//- 				span.time #{work.updateAt}
			//- 			.clear
			//- 		.cover
			//- 			img(src="#{work.titleImage}")
			//- 			.title #{work.title}
			//- 		.date
			//- 			.fl
			//- 				span.type #{work.type}
			//- 				.clear
			//- 			.fr
			//- 				span.like like: #{work.like}
			//- 				span.collect collect: #{work.collect}
			//- 				.clear
			//- 			.clear